<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="melon.js"></script>
</head>

<body>
	<div class="global-header">
		<div class="container">		
			<h3 class="header-logo">西瓜芒果</h3>
			<ul class="header-menu">
				<li class="header-li"><a href="www.pomotodo.com/">高级版</a></li>
				<li class="header-li"="display: inline">帮助</li>
			</ul>
		</div>
	</div>
	<div class="intro">
		<div class="container">
			<div class="slogan">
				<h1>完成了不起的工作</h1>
				<h3>西瓜芒果助你保持专注，完成更多工作</h3>
			</div>
		</div>
	</div>
	<div class="global-body">
		<div class="container">
			<div class="create-todo">
				<form onsubmit="createTodo()">
					<input class="create-input" placeholder="快来添加新任务吧!" id="create-new-task">			
				</form>		
			</div>
		</div>
		<div class="container">
			<div class="ing-todo" id="ing-todo">
				<!---
							1. todo-detial内容无法居中
							2. 内容比较长的时候，第二行如何跟第一行对齐？
				--->
				<div>
					<input type="checkbox" class="todo-checkbox">
					<span class="todo-detail">新任务2新任务2新任务2新任务2新任务2新务2新任务2新任务2新任务2</span>
				</div>
				<div> 						
					<input type="checkbox" class="todo-checkbox">
					<span class="todo-detail">新任务2</span>
				</div>				
			</div>
		</div>
		<div class="container">
			<div class="history-todo">
				<div class="container-height">
					<button class="done-button">完成的任务</button>
				</div>
				<div>
					<input type="checkbox" class="todo-checkbox">
					<span class="todo-detail">完成的任务2</span>
				</div>
				<div>
					<span><input type="checkbox" class="todo-checkbox"></span>
					<span class="todo-detail">完成的任务2</span>
				</div>
			</div>
		</div>
	</div>

</body>