.slogan{
	padding: 20px 0;
	text-align: center;
}

.container{
	padding: 20px 0;
	margin:0 100px;
}

.container-height{
	padding: 15px 0;
}

.header-logo{
	float: left;
}

.header-menu{
	float: right;
}

.header-li{
	display: inline;
}

.global-body{
	margin: 0 auto;
	width: 650px;
}

.todo-detail{

}

.todo-checkbox{
	zoom:200%;
}

.create-todo{

}

.create-input{
	border-radius:8px;
	height: 40px;
	width: 420px;
	padding-left: 20px;
}

.done-button{
	height: 35px;
	width: 150px;
	border-radius: 8px;
}
